#page-hero {max-height: 80vh;}
@media (max-width:1400px) {#headline-9-53 {margin-top: 5%;line-height: 1.1;}}
#hero-image-left {position: absolute;left: 0px;bottom: 0px;width: 45%;}
#hero-image-right {position: absolute;right: 0px;bottom: 0px;width: 45%;}
#inner_content-4-53 {selector-locked: false;}