#div_block-192-70 {width: 33.33%;}
#div_block-200-70 {width: 33.34%;}
#div_block-295-70 {width: 33.33%;}
#div_block-121-70 {width: 33.33%;}
#div_block-129-70 {width: 33.33%;}
#div_block-305-70 {width: 33.34%;}
#div_block-42-70 {width: 33.33%;}
#div_block-43-70 {width: 33.34%;}
#div_block-320-70 {width: 33.33%;}
@media (max-width:991px) {#new_columns-191-70> .ct-div-block {width: 100% !important;}}
#new_columns-191-70 {font-family: "Montserrat";}
@media (max-width:991px) {#new_columns-120-70> .ct-div-block {width: 100% !important;}}
#new_columns-120-70 {font-family: "Montserrat";}
@media (max-width:991px) {#new_columns-41-70> .ct-div-block {width: 100% !important;}}
#new_columns-41-70 {font-family: "Montserrat";}
#headline-193-70 {font-size: 26px;margin-top: 0px;}
#headline-122-70 {font-size: 26px;margin-top: 0px;}
#headline-46-70 {font-size: 26px;margin-top: 0px;}
#text_block-206-70 {margin-top: 0px;}