.ct-section {width: 100%;background-size: cover;background-repeat: repeat;}
.ct-section>.ct-section-inner-wrap {display: flex;flex-direction: column;align-items: flex-start;}
.ct-div-block {display: flex;flex-wrap: nowrap;flex-direction: column;align-items: flex-start;}
.ct-new-columns {display: flex;width: 100%;flex-direction: row;align-items: stretch;justify-content: center;flex-wrap: wrap;}
.ct-link-text {display: inline-block;}
.ct-link {display: flex;flex-wrap: wrap;text-align: center;text-decoration: none;flex-direction: column;align-items: center;justify-content: center;}
.ct-link-button {display: inline-block;text-align: center;text-decoration: none;}
.ct-link-button {background-color: #1e73be;border: 1px solid #1e73be;color: #fff;padding: 10px 16px;}
.ct-image {max-width: 100%;}
.ct-fancy-icon>svg {width: 55px;height: 55px;}
.ct-inner-content {width: 100%;}
.ct-slide {display: flex;flex-wrap: wrap;text-align: center;flex-direction: column;align-items: center;justify-content: center;}
.ct-nestable-shortcode {display: flex;flex-wrap: nowrap;flex-direction: column;align-items: flex-start;}
.oxy-comments {width: 100%;text-align: left;}
.oxy-comment-form {width: 100%;}
.oxy-login-form {width: 100%;}
.oxy-search-form {width: 100%;}
.oxy-tabs-contents {display: flex;width: 100%;flex-wrap: nowrap;flex-direction: column;align-items: flex-start;}
.oxy-tab {display: flex;flex-wrap: nowrap;flex-direction: column;align-items: flex-start;}
.oxy-tab-content {display: flex;width: 100%;flex-wrap: nowrap;flex-direction: column;align-items: flex-start;}
.oxy-testimonial {width: 100%;}
.oxy-icon-box {width: 100%;}
.oxy-pricing-box {width: 100%;}
.oxy-posts-grid {width: 100%;}
.oxy-gallery {width: 100%;}
.ct-slider {width: 100%;}
.oxy-tabs {display: flex;flex-wrap: nowrap;flex-direction: row;align-items: stretch;}
.ct-modal {flex-direction: column;align-items: flex-start;}
.ct-span {display: inline-block;text-decoration: inherit;}
.ct-widget {width: 100%;}
.oxy-dynamic-list {width: 100%;flex-direction: column;align-items: center;justify-content: center;flex-wrap: wrap;}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {.ct-div-block, .oxy-post-content, .ct-text-block, .ct-headline, .oxy-rich-text, .ct-link-text {max-width: 100%;}
	img {flex-shrink: 0;}
	body * {min-height: 1px;}}
.oxy-testimonial {flex-direction: row;align-items: center;}
.oxy-testimonial .oxy-testimonial-photo-wrap {order: 1;}
.oxy-testimonial .oxy-testimonial-photo {width: 125px;height: 125px;margin-right: 20px;}
.oxy-testimonial .oxy-testimonial-photo-wrap, .oxy-testimonial .oxy-testimonial-author-wrap, .oxy-testimonial .oxy-testimonial-content-wrap {align-items: flex-start;text-align: left;}
.oxy-testimonial .oxy-testimonial-text {margin-bottom: 8px;font-size: 21px;line-height: 1.4;-webkit-font-smoothing: subpixel-antialiased;}
.oxy-testimonial .oxy-testimonial-author {font-size: 18px;-webkit-font-smoothing: subpixel-antialiased;}
.oxy-testimonial .oxy-testimonial-author-info {font-size: 12px;-webkit-font-smoothing: subpixel-antialiased;}
.oxy-icon-box {text-align: left;flex-direction: column;}
.oxy-icon-box .oxy-icon-box-icon {margin-bottom: 12px;align-self: flex-start;}
.oxy-icon-box .oxy-icon-box-heading {font-size: 21px;margin-bottom: 12px;}
.oxy-icon-box .oxy-icon-box-text {font-size: 16px;margin-bottom: 12px;align-self: flex-start;}
.oxy-icon-box .oxy-icon-box-link {margin-top: 20px;}
.oxy-pricing-box .oxy-pricing-box-section {padding-top: 20px;padding-left: 20px;padding-right: 20px;padding-bottom: 20px;alignment: center;text-align: center;}
.oxy-pricing-box .oxy-pricing-box-section.oxy-pricing-box-price {justify-content: center;}
.oxy-pricing-box .oxy-pricing-box-section.oxy-pricing-box-graphic {justify-content: center;}
.oxy-pricing-box .oxy-pricing-box-title-title {font-size: 48px;}
.oxy-pricing-box .oxy-pricing-box-title-subtitle {font-size: 24px;}
.oxy-pricing-box .oxy-pricing-box-section.oxy-pricing-box-price {flex-direction: row;}
.oxy-pricing-box .oxy-pricing-box-currency {font-size: 28px;}
.oxy-pricing-box .oxy-pricing-box-amount-main {font-size: 80px;line-height: .7;}
.oxy-pricing-box .oxy-pricing-box-amount-decimal {font-size: 13px;}
.oxy-pricing-box .oxy-pricing-box-term {font-size: 16px;}
.oxy-pricing-box .oxy-pricing-box-sale-price {font-size: 12px;color: rgba(0,0,0,.5);margin-bottom: 20px;}
.oxy-pricing-box .oxy-pricing-box-section.oxy-pricing-box-content {font-size: 16px;color: rgba(0,0,0,.5);}
.oxy-pricing-box .oxy-pricing-box-section.oxy-pricing-box-cta {justify-content: center;}
.oxy-progress-bar .oxy-progress-bar-background {background-color: #000;background-image: linear-gradient(-45deg,rgba(255,255,255,.12) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.12) 50%,rgba(255,255,255,.12) 75%,transparent 75%,transparent);animation: none 0s paused;}
.oxy-progress-bar .oxy-progress-bar-progress-wrap {width: 85%;}
.oxy-progress-bar .oxy-progress-bar-progress {background-color: #6af;padding: 40px;animation: none 0s paused,none 0s paused;background-image: linear-gradient(-45deg,rgba(255,255,255,.12) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.12) 50%,rgba(255,255,255,.12) 75%,transparent 75%,transparent);}
.oxy-progress-bar .oxy-progress-bar-overlay-text {font-size: 30px;font-weight: 900;-webkit-font-smoothing: subpixel-antialiased;}
.oxy-progress-bar .oxy-progress-bar-overlay-percent {font-size: 12px;}
.ct-slider .unslider-nav ol li {border-color: #fff;}
.ct-slider .unslider-nav ol li.unslider-active {background-color: #fff;}
.ct-slider .ct-slide {padding: 0px;}
.oxy-superbox .oxy-superbox-secondary, .oxy-superbox .oxy-superbox-primary {transition-duration: .5s;}
.oxy-pro-menu {menu_dropdown_animation: fade-up;}
.oxy-pro-menu .oxy-pro-menu-list .menu-item a {padding-top: px;padding-left: px;padding-right: px;padding-bottom: px;}
.oxy-pro-menu .oxy-pro-menu-list > .menu-item {margin-top: px;margin-left: px;margin-right: px;margin-bottom: px;}
.oxy-pro-menu .oxy-pro-menu-container:not(.oxy-pro-menu-open-container):not(.oxy-pro-menu-off-canvas-container) .sub-menu {box-shadow: px px px px;}
.oxy-pro-menu .oxy-pro-menu-show-dropdown .oxy-pro-menu-list .menu-item-has-children > a svg {margin-top: px;margin-left: px;margin-right: px;margin-bottom: px;transition-duration: .4s;}
.oxy-pro-menu .oxy-pro-menu-show-dropdown .oxy-pro-menu-list .menu-item-has-children > a div {margin-left: 0px;}
.oxy-pro-menu .oxy-pro-menu-container:not(.oxy-pro-menu-open-container):not(.oxy-pro-menu-off-canvas-container) .sub-menu .menu-item a {padding-top: px;padding-left: px;padding-right: px;padding-bottom: px;}
.oxy-pro-menu .oxy-pro-menu-mobile-open-icon svg {width: 30px;height: 30px;}
.oxy-pro-menu .oxy-pro-menu-mobile-open-icon {padding-top: 15px;padding-right: 15px;padding-bottom: 15px;padding-left: 15px;}
.oxy-pro-menu .oxy-pro-menu-mobile-open-icon, .oxy-pro-menu .oxy-pro-menu-mobile-open-icon svg {transition-duration: .4s;}
.oxy-pro-menu .oxy-pro-menu-mobile-close-icon {top: 20px;left: 20px;}
.oxy-pro-menu .oxy-pro-menu-mobile-close-icon svg {width: 24px;height: 24px;}
.oxy-pro-menu .oxy-pro-menu-mobile-close-icon, .oxy-pro-menu .oxy-pro-menu-mobile-close-icon svg {transition-duration: .4s;}
.oxy-pro-menu .oxy-pro-menu-off-canvas-container > div:first-child, .oxy-pro-menu .oxy-pro-menu-open-container > div:first-child {oxy-pro-menu_slug_oxypromenuoffcanvascontaineroxypromenulistmenuitemoxypromenuopencontaineroxypromenulistmenuitem_min_width: px;}
.oxy-pro-menu .oxy-pro-menu-off-canvas-container {oxy-pro-menu_slug_oxypromenuoffcanvascontainer_width: px;}
.oxy-pro-menu .oxy-pro-menu-container.oxy-pro-menu-off-canvas-container, .oxy-pro-menu .oxy-pro-menu-container.oxy-pro-menu-open-container {background-color: #fff;}
.oxy-pro-menu .oxy-pro-menu-container.oxy-pro-menu-open-container .menu-item a, .oxy-pro-menu .oxy-pro-menu-container.oxy-pro-menu-off-canvas-container .menu-item a {padding-top: px;padding-left: px;padding-right: px;padding-bottom: px;}
.oxy-pro-menu .oxy-pro-menu-container.oxy-pro-menu-open-container, .oxy-pro-menu .oxy-pro-menu-container.oxy-pro-menu-off-canvas-container {padding-top: px;padding-left: px;padding-right: px;padding-bottom: px;}
.oxy-pro-menu .oxy-pro-menu-off-canvas-container, .oxy-pro-menu .oxy-pro-menu-open-container {background-color: ;background-image: url("");overlay-color: ;background-size: ;background-repeat: ;background-attachment: ;background-blend-mode: ;background-size-width: px;background-size-height: px;background-position: px px;}
.oxy-pro-menu .oxy-pro-menu-off-canvas-container .oxy-pro-menu-list .menu-item-has-children > a svg, .oxy-pro-menu .oxy-pro-menu-open-container .oxy-pro-menu-list .menu-item-has-children > a svg {font-size: 24px;}
.oxy-pro-menu .oxy-pro-menu-dropdown-links-toggle.oxy-pro-menu-open-container .menu-item-has-children ul, .oxy-pro-menu .oxy-pro-menu-dropdown-links-toggle.oxy-pro-menu-off-canvas-container .menu-item-has-children ul {background-color: rgba(0,0,0,.2);border-top-style: solid;}
.oxy-pro-menu .oxy-pro-menu-container:not(.oxy-pro-menu-open-container):not(.oxy-pro-menu-off-canvas-container) .oxy-pro-menu-list {flex-direction: row;}
.oxy-pro-menu .oxy-pro-menu-container .menu-item a {text-align: left;justify-content: flex-start;}
.oxy-pro-menu .oxy-pro-menu-container.oxy-pro-menu-open-container .menu-item, .oxy-pro-menu .oxy-pro-menu-container.oxy-pro-menu-off-canvas-container .menu-item {align-items: flex-start;}
.oxy-pro-menu .oxy-pro-menu-off-canvas-container {top: 0;bottom: 0;right: auto;left: 0;}
.oxy-pro-menu .oxy-pro-menu-container.oxy-pro-menu-open-container .oxy-pro-menu-list .menu-item a, .oxy-pro-menu .oxy-pro-menu-container.oxy-pro-menu-off-canvas-container .oxy-pro-menu-list .menu-item a {text-align: left;justify-content: flex-start;}
.oxy-shape-divider {width: 0px;height: 0px;}
.oxy_shape_divider svg {width: 100%;}
.ct-section-inner-wrap, .oxy-header-container {max-width: 1400px;}
body {font-family: "Questrial";}
body {line-height: 1.2;font-size: 1rem;font-weight: 400;color: #000;}
.oxy-nav-menu-hamburger-line {background-color: #000;}
h1, h2, h3, h4, h5, h6 {font-family: "Montserrat";font-size: 5rem;font-weight: 800;line-height: 1.2;}
h2, h3, h4, h5, h6 {font-size: 3.75rem;font-weight: 800;line-height: 1.2;}
h3, h4, h5, h6 {font-size: 3.25rem;line-height: 1.2;}
h4, h5, h6 {font-size: 2rem;line-height: 1.2;}
h5, h6 {font-size: 1.75rem;line-height: 1.2;}
h6 {font-size: 1.5rem;line-height: 1.2;}
a {color: #ee2741;font-weight: 400;text-decoration: none;}
a:hover {color: #af0017;text-decoration: underline;}
.ct-link-text {text-decoration: ;}
.ct-link {text-decoration: ;}
.ct-link-button {border-radius: 3px;}
.ct-section-inner-wrap {padding-top: 75px;padding-right: 20px;padding-bottom: 75px;padding-left: 20px;}
.ct-new-columns > .ct-div-block {padding-top: 20px;padding-right: 20px;padding-bottom: 20px;padding-left: 20px;}
.oxy-header-container {padding-right: 20px;padding-left: 20px;}
@media (max-width: 992px) {.ct-columns-inner-wrap {display: block !important;}
	.ct-columns-inner-wrap:after {display: table;clear: both;content: "";}
	.ct-column {width: 100% !important;margin: 0 !important;}
	.ct-columns-inner-wrap {margin: 0 !important;}}
.inner-header {position: relative;}
.inner-header:not(.ct-section):not(.oxy-easy-posts), .inner-header.oxy-easy-posts .oxy-posts, .inner-header.ct-section .ct-section-inner-wrap {display: flex;flex-direction: row;align-items: center;justify-content: space-between;}
@media (max-width: 991px) {.inner-header {text-align: justify;}
	.inner-header:not(.ct-section):not(.oxy-easy-posts), .inner-header.oxy-easy-posts .oxy-posts, .inner-header.ct-section .ct-section-inner-wrap {display: flex;flex-direction: row-reverse;}}
.inner-footer {width: 100%;}
.contained-content {width: 100%;max-width: 1400px;margin-left: auto;margin-right: auto;}
.inner-page-hero {height: 100%;width: 100%;}
.page-hero {background-image: linear-gradient(90deg,#ee2741 50%,#e57b8a);position: relative;min-height: 50vw;padding-top: 3rem;padding-right: 3rem;padding-bottom: 3rem;padding-left: 3rem;width: 100%;}
.page-hero .ct-section-inner-wrap {padding-top: 75px;}
@media (max-width: 991px) {.page-hero {}}
.flex-row {width: 100%;gap: 1.5rem;}
.flex-row:not(.ct-section):not(.oxy-easy-posts), .flex-row.oxy-easy-posts .oxy-posts, .flex-row.ct-section .ct-section-inner-wrap {display: flex;flex-direction: row;gap: 1.5rem rem;}
@media (max-width: 991px) {.flex-row {gap: 0px;}
	.flex-row:not(.ct-section):not(.oxy-easy-posts), .flex-row.oxy-easy-posts .oxy-posts, .flex-row.ct-section .ct-section-inner-wrap {display: flex;flex-direction: column;gap: 0px;}}
.nowrap {}
.col-50 {width: 50%;}
@media (max-width: 991px) {.col-50 {width: 100%;}}
.col-40 {width: 40%;}
@media (max-width: 991px) {.col-40 {width: 100%;}}
.col-30 {width: 32%;padding-right: 21px;}
@media (max-width: 991px) {.col-30 {width: 100%;}}
.col-20 {width: 20%;}
@media (max-width: 991px) {.col-20 {width: 100%;}}
.col-10 {width: 10%;}
@media (max-width: 991px) {.col-10 {width: 100px;}}
.col-60 {width: 60%;}
@media (max-width: 991px) {.col-60 {width: 100%;}}
.col-70 {width: 70%;}
@media (max-width: 991px) {.col-70 {width: 100px;}}
.col-80 {width: 80%;}
@media (max-width: 991px) {.col-80 {width: 100px;}}
.col-90 {width: 90%;}
@media (max-width: 991px) {.col-90 {width: 100%;}}
.page-hero-image {width: 100%;}
.same-height {}
.same-height:not(.ct-section):not(.oxy-easy-posts), .same-height.oxy-easy-posts .oxy-posts, .same-height.ct-section .ct-section-inner-wrap {display: flex;flex-direction: row;align-items: stretch;}
@media (max-width: 991px) {.same-height {}
	.same-height:not(.ct-section):not(.oxy-easy-posts), .same-height.oxy-easy-posts .oxy-posts, .same-height.ct-section .ct-section-inner-wrap {display: flex;flex-direction: column;}}
.hero-image {width: 100%;}
.hero-heading {color: #fff;z-index: 9999;margin-top: 10rem;}
@media (max-width: 479px) {.hero-heading {margin-top: 0px;margin-bottom: 10px;font-size: 3em;}}
.hero-subheading {font-family: "Questrial";color: #fff;font-weight: 400;font-size: 34px;aos-enable: false;}
@media (max-width: 479px) {.hero-subheading {font-size: 19px;}}
.site-content {padding-top: 3rem;padding-right: 1rem;padding-bottom: 3rem;padding-left: 1rem;}
.content-section {margin-bottom: 3rem;aos-enable: true;}
.content-section .ct-section-inner-wrap {padding-top: 75px;padding-bottom: 6px;}
.content-section:not(.ct-section):not(.oxy-easy-posts), .content-section.oxy-easy-posts .oxy-posts, .content-section.ct-section .ct-section-inner-wrap {display: flex;}
@media (max-width: 479px) {.content-section {}
	.content-section .ct-section-inner-wrap {padding-top: 7px;}
	.content-section:not(.ct-section):not(.oxy-easy-posts), .content-section.oxy-easy-posts .oxy-posts, .content-section.ct-section .ct-section-inner-wrap {display: flex;}}
.full-width {min-width: 100%;margin-left: calc(( 100vw - 100% ) / 2 * -1);margin-right: calc(( 100vw - 100% ) / 2 * -1);}
.col-33 {width: 33.33%;}
@media (max-width: 991px) {.col-33 {width: 100%;}}
.col-25 {width: 25%;}
@media (max-width: 991px) {.col-25 {width: 100%;}}
.content-heading-6 {margin-bottom: 1rem;}
@media (max-width: 479px) {.content-heading-6 {}}
.heading-red {color: #ee2741;}
@media (max-width: 479px) {.heading-red {font-size: 19px;}}
.text-column {}
.text-column-2 {column-count: 2;}
.flex-no-gap {gap: 0 !important;}
.content-heading-4 {margin-bottom: .5rem;font-size: 26px;color: #ee2741;}
.content-subheading-1 {font-family: "Questrial";font-size: 1.66rem;}
@media (max-width: 479px) {.content-subheading-1 {font-size: 14px;}}
.content-subheading-2 {font-family: "Questrial";font-size: 1.458rem;}
.content-subheading-3 {font-size: 1.125rem;}
.hide-on-mobile {}
@media (max-width: 991px) {.hide-on-mobile {}
	.hide-on-mobile:not(.ct-section):not(.oxy-easy-posts), .hide-on-mobile.oxy-easy-posts .oxy-posts, .hide-on-mobile.ct-section .ct-section-inner-wrap {display: none;}}
@media (max-width: 767px) {.hide-on-mobile {}
	.hide-on-mobile:not(.ct-section):not(.oxy-easy-posts), .hide-on-mobile.oxy-easy-posts .oxy-posts, .hide-on-mobile.ct-section .ct-section-inner-wrap {display: none;}}
.hide-on-desktop {}
.hide-on-desktop:not(.ct-section):not(.oxy-easy-posts), .hide-on-desktop.oxy-easy-posts .oxy-posts, .hide-on-desktop.ct-section .ct-section-inner-wrap {display: none;}
@media (max-width: 991px) {.hide-on-desktop {}
	.hide-on-desktop:not(.ct-section):not(.oxy-easy-posts), .hide-on-desktop.oxy-easy-posts .oxy-posts, .hide-on-desktop.ct-section .ct-section-inner-wrap {display: block;}}
@media (max-width: 767px) {.hide-on-desktop {}}
.hide-on-tablet {}
.hide-on-tablet:not(.ct-section):not(.oxy-easy-posts), .hide-on-tablet.oxy-easy-posts .oxy-posts, .hide-on-tablet.ct-section .ct-section-inner-wrap {display: block;}
@media (max-width: 991px) {.hide-on-tablet {}
	.hide-on-tablet:not(.ct-section):not(.oxy-easy-posts), .hide-on-tablet.oxy-easy-posts .oxy-posts, .hide-on-tablet.ct-section .ct-section-inner-wrap {display: none;}}
@media (max-width: 767px) {.hide-on-tablet {}
	.hide-on-tablet:not(.ct-section):not(.oxy-easy-posts), .hide-on-tablet.oxy-easy-posts .oxy-posts, .hide-on-tablet.ct-section .ct-section-inner-wrap {display: block;}}
.text-red {color: #ee2741;font-size: 26px;margin-bottom: 1rem;}
@media (max-width: 479px) {.text-red {font-size: 16px;}}
.content-subheading-4 {font-family: "Questrial";font-size: 1rem;font-weight: 400;margin-bottom: .5rem;}
.content-heading-7 {font-size: 1.208rem;margin-bottom: 0rem;font-weight: 600;}
.col-45 {width: 45%;}
@media (max-width: 991px) {.col-45 {width: 100%;}}
.col-55 {width: 55%;}
@media (max-width: 991px) {.col-55 {width: 100%;}}
.content-heading-8 {font-size: 1rem;}
.content-image {margin-bottom: 1rem;width: 100%;margin-top: 1rem;margin-right: 2px;}
.content-heading-1 {}
.page-hero-col-left {}
.page-hero-col-left:not(.ct-section):not(.oxy-easy-posts), .page-hero-col-left.oxy-easy-posts .oxy-posts, .page-hero-col-left.ct-section .ct-section-inner-wrap {display: flex;flex-direction: column;justify-content: center;}
.element-centered {}
.horizontal-centered {margin-left: auto;margin-right: auto;}
.vertical-centered {margin-top: auto;margin-bottom: auto;}
.relative-container {position: relative;}
.table-of-contents-link {font-family: "Montserrat";color: #fff;font-size: 1.2em;font-weight: 800;padding-bottom: 0px;padding-top: 0px;padding-right: 0px;padding-left: 0px;margin-bottom: 0px;margin-top: 0px;margin-right: 0px;margin-left: 0px;}
@media (max-width: 479px) {.table-of-contents-link {font-size: 13px;}}
.table-of-contents-list {padding-bottom: 0px;padding-top: 0px;padding-right: 0px;padding-left: 0px;margin-bottom: 0px;margin-top: 0px;margin-right: 0px;margin-left: 0px;aos-enable: true;}
@media (max-width: 479px) {.table-of-contents-list {padding-bottom: 0px;}}
.icon-left {background-image: url("https://techopsph.github.io/urc-ar-2021/wp-content/uploads/2022/06/bg-white-line.png");background-size: auto;padding-bottom: 0px;padding-top: 0px;padding-left: 0px;margin-bottom: 0px;margin-top: 0px;margin-right: 0px;margin-left: 0px;width: 25%;padding-right: 0px;background-repeat: repeat-y;background-position: 48% 0%;}
.icon-left:not(.ct-section):not(.oxy-easy-posts), .icon-left.oxy-easy-posts .oxy-posts, .icon-left.ct-section .ct-section-inner-wrap {display: flex;flex-direction: column;align-items: center;justify-content: center;}
@media (max-width: 479px) {.icon-left {}}
.link-right {width: 75%;padding-bottom: 0px;padding-top: 0px;padding-right: 0px;padding-left: 0px;margin-bottom: 0px;margin-top: 0px;margin-right: 0px;margin-left: 0px;}
.link-right:not(.ct-section):not(.oxy-easy-posts), .link-right.oxy-easy-posts .oxy-posts, .link-right.ct-section .ct-section-inner-wrap {display: flex;flex-direction: column;justify-content: center;}
.table-of-contents-left {gap: 1.25rem;}
.table-of-contents-left:not(.ct-section):not(.oxy-easy-posts), .table-of-contents-left.oxy-easy-posts .oxy-posts, .table-of-contents-left.ct-section .ct-section-inner-wrap {display: flex;flex-direction: column;gap: 1.25rem rem;}
@media (max-width: 479px) {.table-of-contents-left {}
	.table-of-contents-left:not(.ct-section):not(.oxy-easy-posts), .table-of-contents-left.oxy-easy-posts .oxy-posts, .table-of-contents-left.ct-section .ct-section-inner-wrap {align-items: center;}}
.footer-menu-text:hover {text-decoration: none;font-weight: 900;}
.footer-menu-text {color: #fff;}
@media (max-width: 479px) {.footer-menu-text {font-size: 1.5rem;}}
.quotes {font-family: "Montserrat";font-weight: 800;}
@media (max-width: 479px) {.quotes {width: 60%;}}
.chairman-section-titles {font-size: 29px;color: #ee2741;}
@media (max-width: 479px) {.chairman-section-titles {font-size: 18px;}}
.chairmans-sections-mobile {gap: 2em;aos-enable: false;}
.chairmans-sections-mobile:not(.ct-section):not(.oxy-easy-posts), .chairmans-sections-mobile.oxy-easy-posts .oxy-posts, .chairmans-sections-mobile.ct-section .ct-section-inner-wrap {display: flex;flex-direction: column;justify-content: flex-start;gap: 2em em;}
@media (max-width: 479px) {.chairmans-sections-mobile {}}
.text-column-3 {}
.corp-gov-heading {margin-top: 1rem;font-weight: 800;font-size: 1rem;}
.table-letter {background-image: linear-gradient(90deg,#a23593 50%,#d52c5c);color: #fff;padding-top: 2px;padding-right: 2px;padding-bottom: 0px;padding-left: 0px;border-top-right-radius: 6px;width: 21px;}
.table-letter:not(.ct-section):not(.oxy-easy-posts), .table-letter.oxy-easy-posts .oxy-posts, .table-letter.ct-section .ct-section-inner-wrap {display: flex;flex-direction: row;align-items: center;justify-content: center;}
.table-letter-end {background-image: linear-gradient(90deg,#a23593 50%,#d52c5c);color: #fff;width: 21px;text-align: center;padding-right: 2px;padding-bottom: 0px;padding-left: 0px;border-top-right-radius: 6px;border-top-color: #fff;border-right-color: #fff;border-bottom-color: #fff;border-left-color: #fff;border-bottom-left-radius: 90px;background-color: #fff;}
.icon-left-image {width: 78px;z-index: 2;}
@media (max-width: 479px) {.icon-left-image {}}
.oxy-stock-content-styles {}
.corporate-directory-text {margin-bottom: 1rem;}
.corporate-directory-title {font-family: "Montserrat";font-size: 20px;}
.corporate-directory-contact {margin-bottom: 1em;}
.corporate-directory-country {color: #ee2741;font-size: 21px;}
.strategy-updates {}
.strategy-updates-text {margin-bottom: 1rem;}
.governance-text {}
.col-15 {width: 15%;}
@media (max-width: 991px) {.col-15 {width: 100%;}}
.text-white {color: #fff;font-size: 21px;margin-bottom: 1rem;}
@media (max-width: 479px) {.text-white {font-size: 16px;}}
.urc-text {margin-bottom: 1rem;}
.urc-image {padding-top: 1rem;padding-bottom: 1rem;margin-bottom: 0px;padding-right: 1rem;}
.geographic-image {margin-bottom: 5rem;}
html {font-size: 24px;}
@media (max-width: 1920px) {html {font-size: 18px;}}
@media (max-width: 1360px) {html {font-size: 16px;}}
@media (max-width: 1024px) {html {font-size: 14px;}}
@media (max-width:767px) {html {font-size: 10px;}}
p {margin-top: 0;}
a {color: blue;}
nav#primary-menu ul#menu-header li a {line-height: 1.1;text-align: center;}
nav#primary-menu ul#menu-header {align-content: center;align-items: center;}
.inner-page-hero, .flex-row {flex: 1 0 auto;}
.red {color: #ee2741;font-weight: 800;}
strong {font-weight: 600;font-family: "Montserrat";}
table {font-size: 18px;}
.default-table th, .committees th, #business-conduct-ethics th {color: white;font-family: "Montserrat";padding: 1em;font-weight: 500;background: #ee2741;background: linear-gradient(90deg,rgba(238,39,65,1) 50%,rgba(255,134,134,1) 100%);}
#business-conduct-ethics td {vertical-align: top;padding: 1em;background: #c4d8dd;background: linear-gradient(90deg,rgba(196,216,221,1) 40%,rgba(252,220,218,1) 100%);}
#attendance-of-directors th {color: white;font-family: "Montserrat";padding: 1em;font-weight: 500;background: #ee2741;background: linear-gradient(90deg,rgba(238,39,65,1) 50%,rgba(255,134,134,1) 100%);}
#attendance-of-directors td {vertical-align: top;padding: .5em;text-align: center;}
.default-table tr:nth-child(odd), .committees tr:nth-child(odd), #attendance-of-directors tr:nth-child(odd) {background: #c4d8dd;background: linear-gradient(90deg,rgba(196,216,221,1) 40%,rgba(252,220,218,1) 100%);}
.default-table tr:nth-child(even), .committees tr:nth-child(even), #attendance-of-directors tr:nth-child(even) {background: rgba(185,214,221,1);background: linear-gradient(90deg,rgba(185,214,221,1) 0%,rgba(252,220,218,1) 60%);}
.default-table td {font-size: 1.2rem;padding: 1em;text-align: center;}
.committees {font-size: 12px;}
.committees td {padding: 0px 5px;}